@page
@using NetY.WebCommon;


<li><a asp-area="" asp-controller="Home" asp-action="Login">用户中心</a></li>

<li><a asp-area="" asp-controller="Home" asp-action="Register">注册</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Login">登录</a></li>



