@using Microsoft.AspNetCore.Mvc
@using NetY.Controllers;

@if (!string.IsNullOrEmpty(ViewBag.Session))
{
    <li><a asp-area="" asp-controller="Account" asp-action="Index">用户中心</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="LoginOut">退出</a></li>
}
else
{
    <li><a asp-area="" asp-controller="Home" asp-action="Register">注册</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Login">登录</a></li>
}



